@media screen and (min-width: 501px) {
  :global {
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .warper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      header {
        width: 100%;
        height: 80px;
        background: #0076ff;
        text-align: center;
        line-height: 80px;
        font-size: 28px;
        color: #fff;
      }
      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 45px;
        .tabclass {
          width: 100%;
          height: 90px;
          display: flex;
          border: 1px solid rgba(187, 187, 187, 1);
          margin-top: 21px;
          font-size: 14px;
          align-items: center;
          span:nth-child(1) {
            margin-left: 57px;
            margin-right: 20px;
          }
          span:nth-child(2) {
            display: flex;
            width: 103px;
            height: 30px;
            background: #0076ff;
            margin-right: 20px;
            border-radius: 2px;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin-right: 20px;
          }
          span:nth-child(3) {
            display: flex;
            width: 90px;
            height: 30px;
            background: rgba(230, 241, 252, 1);
            color: #a3d0fd;
            border: 1px solid #a3d0fd;
            border-radius: 2px;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
          }
        }
        .add {
          width: 100%;
          height: 70px;
          display: flex;
          align-items: center;
          span {
            margin-left: 45px;
          }
          input {
            display: flex;
            margin: 0 26px;
            width: 240px;
            height: 30px;
            border: 1px solid#DCDFE6;
            align-items: center;
            text-align: center;
          }
          .useript {
            text-align: left;
          }
          .addbtn {
            width: 95px;
            height: 30px;
            display: flex;
            color: #a3d0fd;
            background: rgba(230, 241, 252, 1);
            border: 1px solid #a3d0fd;
            border-radius: 2px;
            align-items: center;
            justify-content: center;
          }
        }
        .wire {
          width: 100%;
          height: 440px;
          #main {
            width: 90%;
            height: 100%;
            margin: 0 auto;
          }
        }
        .grade {
          padding: 0 18px;
          width: 100%;
          height: 50px;
          background: #f2f1f1;
          display: flex;
          align-items: center;
          span {
            border: 1px solid#BBBBBB;
            font-size: 14px;
            &:nth-child(1) {
              width: 105px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 16px;
            }
            &:nth-child(2) {
              width: 159px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &:nth-child(3) {
              width: 214px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 900px;
            }
          }
        }
      }
    }
    .dialog {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      .addstudent {
        border-radius: 4px 4px 4px 4px;
        background-color: rgba(255, 255, 255, 1);
        text-align: center;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
        width: 483px;
        height: 353px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 22px;
        display: flex;
        flex-direction: column;
        background: #fff;
        .tit {
          margin-bottom: 50px;
          text-align: left;
        }
        .iptbox {
          width: 440px;
          height: 180px;
          padding: 0 38px;
          display: flex;
          flex-direction: column;
          p {
            flex: 1;
            margin-bottom: 20px;
            display: flex;
            span {
              width: 80px;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            input {
              flex: 1;
              border: 1px solid #dcdfe6;
            }
            &:nth-child(1) {
              span {
                border-radius: 4px 4px 4px 4px;
                background-color: rgba(230, 241, 252, 1);
                border: 1px solid rgba(163, 208, 253, 1);
              }
            }
          }
        }
        .btnbox {
          width: 100%;
          height: 36px;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          button {
            width: 65px;
            height: 100%;
            border: 1px solid #dcdfe6;
            &:nth-child(1) {
              border-radius: 4px 4px 4px 4px;
              border: 1px solid #dcdfe6;
              background: #fff;
              margin-right: 10px;
            }
            &:nth-child(2) {
              border-radius: 4px 4px 4px 4px;
              color: #fff;
              background-color: rgba(230, 241, 252, 1);
              border: 1px solid rgba(163, 208, 253, 1);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  :global {
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    html,
    body {
      width: 100%;
      height: 100%;
    }
    html {
      font-size: 100/375 * 100vw;
    }
    .warper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      header {
        width: 100%;
        height: calc(0.6rem);
        background: #0076ff;
        text-align: center;
        line-height: calc(0.6rem);
        font-size: calc(0.2rem);
        color: #fff;
      }
      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 calc(0.2rem);
        .tabclass {
          width: 100%;
          height: calc(0.6rem);
          display: flex;
          border: 1px solid rgba(187, 187, 187, 1);
          margin-top: calc(0.1rem);
          font-size: calc(0.14rem);
          align-items: center;
          span:nth-child(1) {
            margin-left: calc(0.1rem);
            margin-right: calc(0.1rem);
          }
          span:nth-child(2) {
            display: flex;
            background: #0076ff;
            border-radius: 2px;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin-right: calc(0.1rem);
            padding: calc(0.04rem);
          }
          span:nth-child(3) {
            padding: calc(0.04rem);
            display: flex;
            background: rgba(230, 241, 252, 1);
            color: #a3d0fd;
            border: 1px solid #a3d0fd;
            border-radius: 2px;
            align-items: center;
            justify-content: center;
            margin-right: calc(0.2rem);
          }
        }
        .add {
          width: 100%;
          height: calc(1.6rem);
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 10px 0;
          justify-content: center;
          span {
            width: 100%;
            height: calc(0.3rem);
            line-height: 30px;
            text-align: center;
          }
          input {
            flex: 1;
            width: 80%;
            border: 1px solid#DCDFE6;
            align-items: center;
            text-align: center;
            margin: 4px auto;
          }
          .useript {
            text-align: left;
          }
          .addbtn {
            flex: 1;
            padding: 2px 15px;
            display: flex;
            color: #a3d0fd;
            background: rgba(230, 241, 252, 1);
            border: 1px solid #a3d0fd;
            border-radius: 2px;
            align-items: center;
            justify-content: center;
          }
        }
        .wire {
          width: 100%;
          height: calc(3rem);
          #main {
            width: 100%;
            height: 100%;
          }
        }
        .grade {
          padding: 0 calc(0.09rem);
          width: 100%;
          height: calc(0.35rem);
          background: #f2f1f1;
          display: flex;
          align-items: center;
          span {
            border: 1px solid#BBBBBB;
            font-size: calc(0.14rem);
            &:nth-child(1) {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: calc(0.15rem);
            }
            &:nth-child(2) {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &:nth-child(3) {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      .dialog {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        .addstudent {
          border-radius: 4px 4px 4px 4px;
          background-color: rgba(255, 255, 255, 1);
          text-align: center;
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
          width: calc(2.4rem);
          height: calc(2rem);
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          padding: calc(0.05rem) calc(0.11rem);
          display: flex;
          flex-direction: column;
          background: #fff;
          .tit {
            margin-bottom: calc(0.1rem);
            text-align: left;
          }
          .iptbox {
            p {
              flex: 1;
              input {
                border: 1px solid #dcdfe6;
              }
              &:nth-child(1) {
                span {
                  border-radius: 4px 4px 4px 4px;
                  background-color: rgba(230, 241, 252, 1);
                  border: 1px solid rgba(163, 208, 253, 1);
                }
              }
            }
          }
          .btnbox {
            width: 100%;
            height: calc(0.3rem);
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            button {
              width: calc(0.45rem);
              height: 100%;
              border: 1px solid #dcdfe6;
              &:nth-child(1) {
                border-radius: 4px 4px 4px 4px;
                border: 1px solid #dcdfe6;
                background: #fff;
                margin-right: calc(0.05rem);
              }
              &:nth-child(2) {
                border-radius: 4px 4px 4px 4px;
                color: #fff;
                background-color: rgba(230, 241, 252, 1);
                border: 1px solid rgba(163, 208, 253, 1);
              }
            }
          }
        }
      }
    }
  }
}
